#addCardsDiv{
    width: 800px;
    margin: 100px 200px;
    text-align: left;
}

#cardsBody{
    display: grid;
    grid-template-columns: auto auto auto;
}

#cardsBody{
    margin: 100px;
}
.card{
   
    margin-top: 30px;
}